@charset "UTF-8";
/*-------------Обнуление--------------*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*-------------Общие стили--------------*/
body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #ffffff;
  background-color: #181817;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 5px;
}
@media (max-width: 1200px) {
  .container {
    max-width: 900px;
  }
}
@media (max-width: 950px) {
  .container {
    max-width: 670px;
  }
}
@media (max-width: 700px) {
  .container {
    max-width: 310px;
  }
}

.section {
  padding: 100px 0;
}
@media (max-width: 1200px) {
  .section {
    padding: 85px 0;
  }
}
@media (max-width: 950px) {
  .section {
    padding: 70px 0;
  }
}
@media (max-width: 700px) {
  .section {
    padding: 50px 0;
  }
}
.section__title {
  margin-bottom: 150px;
  position: relative;
  font-size: 40px;
  font-weight: 600;
  color: #ffce76;
  text-transform: uppercase;
  text-align: center;
}
.section__title::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 400px;
  height: 10px;
  background: url(../img/title.png) center no-repeat;
}
@media (max-width: 950px) {
  .section__title::after {
    width: 310px;
  }
}
@media (max-width: 700px) {
  .section__title::after {
    width: 260px;
  }
}
@media (max-width: 1200px) {
  .section__title {
    margin-bottom: 130px;
  }
}
@media (max-width: 950px) {
  .section__title {
    margin-bottom: 110px;
    font-size: 36px;
  }
}
@media (max-width: 700px) {
  .section__title {
    margin-bottom: 70px;
    font-size: 30px;
  }
}
.section__title-black {
  position: relative;
  color: #181817;
}
.section__title-black::after {
  background: url(../img/title2.png) center no-repeat;
}

.text {
  line-height: 19px;
}

#back-to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 26px;
  width: 45px;
  height: 45px;
  background-color: #fff;
  color: #000;
  cursor: pointer;
  outline: none;
  border: 3px solid #000;
  border-radius: 50%;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
}

#back-to-top-btn:hover, #back-to-top-btn:focus {
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
}

.header {
  padding: 44px 0 37px;
}
@media (max-width: 950px) {
  .header {
    padding: 30px 0;
  }
}
@media (max-width: 700px) {
  .header {
    padding: 26px 0;
  }
}
.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1200px) {
  .header__content.container {
    max-width: 95%;
  }
}
.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 75%;
}
@media (max-width: 950px) {
  .header__info {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: auto;
    background-color: rgba(24, 24, 23, 0.9);
    -webkit-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
    padding: 0 0 50px;
    z-index: 1;
  }
}
.header__info.active {
  top: 0;
}
.header__logo {
  width: 20%;
}
@media (max-width: 950px) {
  .header__logo {
    width: 25%;
  }
}
@media (max-width: 700px) {
  .header__logo {
    width: 30%;
  }
}
.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
}
@media (max-width: 950px) {
  .header__nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
  }
}
.header__nav-link {
  color: #fefefe;
  text-transform: uppercase;
}
@media (min-width: 950px) {
  .header__nav-link {
    margin: 0 22px;
    padding-bottom: 40px;
    border-bottom: 4px solid transparent;
  }
  .header__nav-link:hover {
    border-bottom: 4px solid #ffce76;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
  }
}
@media (max-width: 950px) {
  .header__nav-link {
    display: block;
    padding-bottom: 0;
    margin: 0 auto 15px;
    font-size: 20px;
  }
}

.nav__icon {
  display: none;
}
@media (max-width: 950px) {
  .nav__icon {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 5;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .nav__icon span {
    position: absolute;
    background-color: #ffce76;
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    top: 9px;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .nav__icon::before, .nav__icon::after {
    content: "";
    background-color: #ffce76;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .nav__icon::before {
    top: 0;
  }
  .nav__icon::after {
    bottom: 0;
  }
  .nav__icon.active::before {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  .nav__icon.active::after {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
}

.user-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 25%;
}
@media (max-width: 950px) {
  .user-bar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}
.user-bar__item {
  margin: 0 5px;
}
@media (max-width: 950px) {
  .user-bar__item {
    margin: 0;
  }
}

.search {
  width: 190px;
  margin-bottom: 50px;
  position: relative;
  -webkit-transform: translateX(-50%, -50%);
          transform: translateX(-50%, -50%);
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
@media (min-width: 950px) {
  .search {
    width: 32px;
    height: 32px;
    margin-bottom: 0;
  }
  .search:hover {
    width: 145px;
    cursor: pointer;
  }
}
.search:hover .search__input {
  display: block;
}
.search:hover .search__btn {
  background-color: #ffce76;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
.search:hover .search__icon {
  color: #181817;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
.search__input {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 32px;
  outline: 0;
  border: 2px solid #ffce76;
  border-radius: 0;
  background-color: #fff;
}
@media (min-width: 950px) {
  .search__input {
    display: none;
  }
}
.search__input::-webkit-input-placeholder {
  padding-left: 5px;
  color: #181817;
}
.search__input::-moz-placeholder {
  padding-left: 5px;
  color: #181817;
}
.search__input:-ms-input-placeholder {
  padding-left: 5px;
  color: #181817;
}
.search__input::-ms-input-placeholder {
  padding-left: 5px;
  color: #181817;
}
.search__input::placeholder {
  padding-left: 5px;
  color: #181817;
}
.search__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 31px;
  height: 32px;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: #181817;
}
.search__icon {
  font-size: 18px;
  color: #9a9a9a;
}

.user__account {
  font-size: 18px;
  color: #9a9a9a;
}
.user__account:hover {
  color: #ffce76;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
@media (max-width: 950px) {
  .user__account {
    margin-right: 10px;
  }
}
.user__basket {
  font-size: 18px;
  color: #9a9a9a;
}
.user__basket:hover {
  color: #ffce76;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.logo {
  width: 80%;
}
@media (max-width: 950px) {
  .logo {
    width: 85%;
  }
}
@media (max-width: 700px) {
  .logo {
    width: 100%;
  }
}

/*---BANNER----*/
.banner {
  width: 100%;
  height: 90vh;
  position: relative;
  background: center/cover no-repeat;
  animation: slide 20s infinite;
  -webkit-animation: slide 15s ease-in infinite;
  -moz-animation: slide 20s infinite;
}
@keyframes slide {
  0% {
    background-image: url(../img/shadow.png), url(../img/banner.png);
  }
  25% {
    background-image: url(../img/shadow.png), url(../img/banner5.jpg);
  }
  50% {
    background-image: url(../img/shadow.png), url(../img/banner4.jpg);
  }
  75% {
    background-image: url(../img/shadow.png), url(../img/banner3.jpg);
  }
  100% {
    background-image: url(../img/shadow.png), url(../img/banner2.jpeg);
  }
}
@-webkit-keyframes slide {
  0% {
    background-image: url(../img/shadow.png), url(../img/banner.png);
  }
  25% {
    background-image: url(../img/shadow.png), url(../img/banner5.jpg);
  }
  50% {
    background-image: url(../img/shadow.png), url(../img/banner4.jpg);
  }
  75% {
    background-image: url(../img/shadow.png), url(../img/banner3.jpg);
  }
  100% {
    background-image: url(../img/shadow.png), url(../img/banner2.jpeg);
  }
}
.banner__content {
  position: absolute;
  top: 35%;
  left: 12%;
}
@media (max-width: 1200px) {
  .banner__content {
    top: 30%;
  }
}
@media (max-width: 950px) {
  .banner__content {
    left: 10%;
  }
}
.banner__suptitle {
  margin-bottom: 55px;
  font-size: 25px;
}
.banner__suptitle::before {
  content: "";
  display: inline-block;
  width: 63px;
  height: 5px;
  margin: 0 20px 5px 0;
  background-color: #fece76;
}
@media (max-width: 700px) {
  .banner__suptitle::before {
    width: 45px;
  }
}
@media (max-width: 1200px) {
  .banner__suptitle {
    margin-bottom: 50px;
  }
}
@media (max-width: 950px) {
  .banner__suptitle {
    margin-bottom: 45px;
    font-size: 23px;
  }
}
@media (max-width: 700px) {
  .banner__suptitle {
    margin-bottom: 38px;
  }
}
.banner__title {
  max-width: 552px;
  margin-bottom: 37px;
  font-size: 60px;
  font-weight: 600;
  text-transform: uppercase;
}
@media (max-width: 1200px) {
  .banner__title {
    font-size: 55px;
  }
}
@media (max-width: 950px) {
  .banner__title {
    margin-bottom: 30px;
    font-size: 50px;
  }
}
@media (max-width: 700px) {
  .banner__title {
    margin-bottom: 25px;
    font-size: 38px;
  }
}
.banner__text {
  max-width: 527px;
  letter-spacing: 1.6px;
}

.yellow-text {
  color: #fece76;
  font-weight: 600;
}
@media (max-width: 700px) {
  .yellow-text {
    display: block;
    margin-top: 5px;
  }
}

/*---FEATURES----*/
.features__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 950px) {
  .features__content {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}
@media (max-width: 700px) {
  .features__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.features__info {
  width: 32%;
}
@media (max-width: 950px) {
  .features__info {
    width: 45%;
  }
}
@media (max-width: 700px) {
  .features__info {
    width: 98%;
  }
}
.features__item {
  margin-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.features__item:last-child {
  margin-bottom: 0;
}
@media (max-width: 950px) {
  .features__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    margin-bottom: 50px;
  }
}
@media (max-width: 700px) {
  .features__item {
    margin: 0 auto 20px;
  }
}
.features__last-item {
  margin-right: -25px;
}
@media (max-width: 950px) {
  .features__last-item {
    margin-left: -25px;
  }
}
@media (max-width: 700px) {
  .features__last-item {
    padding-bottom: 20px;
    margin-left: -10px;
    margin-right: 0;
  }
}
.features__title {
  margin-bottom: 23px;
  font-size: 18px;
  font-weight: 600;
  color: #ffce76;
}
.features__item-info {
  margin-right: 29px;
  text-align: right;
}
@media (max-width: 950px) {
  .features__item-info {
    margin-left: 29px;
    text-align: left;
  }
}
@media (max-width: 700px) {
  .features__icon {
    max-width: 65px;
    max-height: 60px;
  }
}
.features__img-container {
  width: 30%;
}
@media (max-width: 950px) {
  .features__img-container {
    display: none;
  }
}
.features__img {
  width: 100%;
}

.reverse-item {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.reverse-item .features__item-info {
  text-align: left;
}
.reverse-item .features__icon {
  margin-right: 29px;
}
@media (max-width: 950px) {
  .reverse-item .features__icon {
    margin-right: 15px;
  }
}
@media (max-width: 950px) {
  .reverse-item .features__icon {
    margin-right: 5px;
  }
}

/*----ACCESSORIES----*/
.accessories__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.accessories__item-title {
  max-width: 230px;
  margin-bottom: 38px;
  font-size: 30px;
  text-transform: uppercase;
}
@media (max-width: 1200px) {
  .accessories__item-title {
    margin-bottom: 30px;
    font-size: 25px;
  }
}
@media (max-width: 950px) {
  .accessories__item-title {
    margin-bottom: 20px;
    font-size: 20px;
  }
}
@media (max-width: 700px) {
  .accessories__item-title {
    margin-bottom: 15px;
    max-width: 130px;
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .accessories__item-title {
    margin-bottom: 10px;
    max-width: 100px;
    font-size: 12px;
  }
}
.accessories__item-link {
  padding: 2px 5px;
  text-transform: uppercase;
  border: 1px solid transparent;
}
.accessories__item-link:hover {
  border: 1px solid;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
@media (max-width: 950px) {
  .accessories__item-link {
    font-size: 12px;
  }
}
@media (max-width: 700px) {
  .accessories__item-link {
    padding: 2px 2px;
    font-size: 10px;
  }
}
@media (max-width: 500px) {
  .accessories__item-link {
    padding: 2px 2px;
    font-size: 8px;
  }
}
.accessories__items {
  width: 80%;
}
.accessories__items-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.accessories__img {
  width: 100%;
}

.vertical-item {
  width: 25%;
  padding: 50px 0 0 50px;
  background: url(../img/3.png) center/cover no-repeat;
}
@media (max-width: 1200px) {
  .vertical-item {
    padding: 45px 0 0 45px;
  }
}
@media (max-width: 950px) {
  .vertical-item {
    padding: 35px 0 0 35px;
  }
}
@media (max-width: 700px) {
  .vertical-item {
    padding: 20px 0 0 20px;
  }
}
@media (max-width: 500px) {
  .vertical-item {
    padding: 10px 0 0 10px;
  }
}

.green-text {
  color: #749d26;
}

.img-item {
  width: 30%;
}

.horizontal-item {
  width: 70%;
  padding: 50px 0 0 50px;
}
@media (max-width: 1200px) {
  .horizontal-item {
    padding: 45px 0 0 45px;
  }
}
@media (max-width: 950px) {
  .horizontal-item {
    padding: 35px 0 0 35px;
  }
}
@media (max-width: 700px) {
  .horizontal-item {
    padding: 20px 0 0 20px;
  }
}
@media (max-width: 500px) {
  .horizontal-item {
    padding: 10px 0 0 10px;
  }
}

.horizontal-item-top {
  background: url(../img/9.png) center/cover no-repeat;
}

.horizontal-item-bottom {
  background: url(../img/4.png) center/cover no-repeat;
}

.blue-text {
  color: #599ba7;
}

.black-text {
  color: #352b30;
}

/*----SHOP----*/
.shop {
  background-color: #f9fafc;
}
.shop__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.shop__item {
  width: 23%;
  margin-bottom: 30px;
  position: relative;
  background-color: #ffce76;
}
@media (max-width: 950px) {
  .shop__item {
    width: 47%;
  }
}
.shop__item:hover {
  -webkit-box-shadow: 0 0 38px rgba(190, 176, 150, 0.77);
          box-shadow: 0 0 38px rgba(190, 176, 150, 0.77);
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
.shop__item:hover .shop__item-content {
  opacity: 0.27;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
.shop__item:hover .shop__item-nav {
  opacity: 1;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
.shop__item-content {
  padding: 10px 0 25px 25px;
  background-color: #ffffff;
}
@media (max-width: 1200px) {
  .shop__item-content {
    padding: 10px 0 20px 20px;
  }
}
@media (max-width: 950px) {
  .shop__item-content {
    padding: 10px 0 15px 15px;
  }
}
@media (max-width: 700px) {
  .shop__item-content {
    padding: 10px 0 10px 10px;
  }
}
.shop__item-img {
  display: block;
  margin: 0 auto 25px;
  height: 200px;
  max-width: 200px;
}
@media (max-width: 1200px) {
  .shop__item-img {
    max-width: 170px;
  }
}
@media (max-width: 700px) {
  .shop__item-img {
    max-width: 120px;
    height: 120px;
  }
}
.shop__item-title {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: #000000;
}
@media (max-width: 950px) {
  .shop__item-title {
    margin-bottom: 15px;
    font-size: 16px;
  }
}
@media (max-width: 700px) {
  .shop__item-title {
    margin-bottom: 10px;
    font-size: 14px;
  }
}
.shop__item-text {
  display: block;
  max-width: 191px;
  margin-bottom: 28px;
  color: #6d6d6d;
}
@media (max-width: 950px) {
  .shop__item-text {
    margin-bottom: 15px;
  }
}
@media (max-width: 700px) {
  .shop__item-text {
    margin-bottom: 10px;
    font-size: 12px;
  }
}
.shop__item-price {
  font-size: 27px;
  font-weight: 600;
  color: #000000;
}
@media (max-width: 950px) {
  .shop__item-price {
    font-size: 20px;
  }
}
@media (max-width: 700px) {
  .shop__item-price {
    font-size: 16px;
  }
}
.shop__item-nav {
  width: 145px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgba(45, 58, 75, 0.6);
  border-radius: 50px;
  opacity: 0;
}
@media (max-width: 700px) {
  .shop__item-nav {
    width: 110px;
    height: 30px;
  }
}
.shop__item-link {
  font-size: 18px;
  color: #ffffff;
}
.shop__item-link:hover {
  color: rgba(0, 0, 0, 0.8);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
@media (max-width: 700px) {
  .shop__item-link {
    font-size: 16px;
  }
}

/*----TEAM----*/
.team {
  background: url(../img/bg.png) center/cover no-repeat;
}
.team__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 700px) {
  .team__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.team__item {
  width: 30%;
}
@media (max-width: 700px) {
  .team__item {
    width: 46%;
    margin-bottom: 35px;
  }
  .team__item:last-child {
    margin-bottom: 0;
  }
  .team__item:first-child {
    margin-right: 10px;
  }
}
.team__item-img {
  margin-bottom: 30px;
  width: 100%;
}
@media (max-width: 700px) {
  .team__item-img {
    margin-bottom: 15px;
  }
}
.team__item-title {
  font-size: 30px;
  font-weight: 600;
  color: #fafafa;
}
@media (max-width: 1200px) {
  .team__item-title {
    font-size: 26px;
  }
}
@media (max-width: 950px) {
  .team__item-title {
    font-size: 22px;
  }
}
@media (max-width: 700px) {
  .team__item-title {
    font-size: 18px;
  }
}
.team__item-title::after {
  content: "";
  display: inline-block;
  width: 172px;
  height: 3px;
  margin-left: 6px;
  background-color: #ffce76;
}
@media (max-width: 1200px) {
  .team__item-title::after {
    width: 110px;
  }
}
@media (max-width: 950px) {
  .team__item-title::after {
    width: 65px;
  }
}
@media (max-width: 700px) {
  .team__item-title::after {
    width: 27px;
  }
}

/*----PROJECT----*/
.project {
  padding-bottom: 0;
  background-color: #ffffff;
}
.project__item-title {
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
@media (max-width: 1200px) {
  .project__item-title {
    font-size: 26px;
  }
}
.project__item-text {
  font-size: 20px;
  text-transform: uppercase;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  left: 5px;
  bottom: 95px;
}
@media (max-width: 1200px) {
  .project__item-text {
    bottom: 115px;
  }
}
@media (max-width: 950px) {
  .project__item-text {
    font-size: 18px;
  }
}

.slider {
  position: relative;
}
.slider__content {
  width: 100%;
  height: 95vh;
  overflow: hidden;
}
@media (max-width: 1200px) {
  .slider__content {
    height: 90vh;
  }
}
@media (max-width: 950px) {
  .slider__content {
    height: 85vh;
  }
}
@media (max-width: 700px) {
  .slider__content {
    height: 80vh;
  }
}
@media (max-width: 550px) {
  .slider__content {
    height: 70vh;
  }
}
.slider__item {
  height: 95vh;
  width: 300px;
  display: inline-block;
  padding: 57px 0 0 55px;
  position: relative;
}
.slider__item:nth-child(1) {
  background: url(../img/bg2.png) center/cover no-repeat;
}
.slider__item:nth-child(2) {
  background: url(../img/bg3.png) center/cover no-repeat;
}
.slider__item:nth-child(3) {
  background: url(../img/bg4.png) center/cover no-repeat;
}
.slider__item:nth-child(4) {
  background: url(../img/bg5.png) center/cover no-repeat;
}
.slider__item:nth-child(5) {
  background: url(../img/sh.png), url(../img/bg6.jpg) center/cover no-repeat;
}
.slider__item:nth-child(6) {
  background: url(../img/sh.png), url(../img/bg8.jpg) center/cover no-repeat;
}
.slider__item:nth-child(7) {
  background: url(../img/sh.png), url(../img/bg7.png) center/cover no-repeat;
}
.slider__item:nth-child(9) {
  background: url(../img/bg5.png) center/cover no-repeat;
}
.slider__item:nth-child(8) {
  background: url(../img/sh.png), url(../img/bg9.jpg) center/cover no-repeat;
}
.slider__item:nth-child(10) {
  background: url(../img/bg3.png) center/cover no-repeat;
}
@media (max-width: 1200px) {
  .slider__item {
    padding: 50px 0 0 50px;
    height: 90vh;
  }
}
@media (max-width: 950px) {
  .slider__item {
    height: 85vh;
  }
}
@media (max-width: 720px) {
  .slider__item {
    padding: 50px 0 0 45px;
    height: 80vh;
  }
}
@media (max-width: 550px) {
  .slider__item {
    padding: 40px 0 0 35px;
    height: 70vh;
  }
}

.prev, .next {
  width: 50px;
  height: 50px;
  padding-top: 10px;
  position: absolute;
  top: 50%;
  font-size: 2em;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  z-index: 5;
  border: 1px solid #ffffff;
  background-color: rgba(98, 98, 98, 0.6);
  border-radius: 50%;
}
@media (max-width: 1200px) {
  .prev, .next {
    top: 48%;
  }
}
@media (max-width: 950px) {
  .prev, .next {
    top: 47%;
    width: 45px;
    height: 45px;
    padding-top: 7px;
  }
}
@media (max-width: 700px) {
  .prev, .next {
    width: 37px;
    height: 37px;
    padding-top: 8px;
    font-size: 20px;
  }
}
@media (max-width: 550px) {
  .prev, .next {
    top: 45%;
  }
}

.prev {
  left: 30px;
}
@media (max-width: 720px) {
  .prev {
    left: 20px;
  }
}

.next {
  right: 30px;
}
@media (max-width: 720px) {
  .next {
    right: 20px;
  }
}

/*----BLOG----*/
.blog {
  background-color: #f9fafc;
}
.blog__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 950px) {
  .blog__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.blog__item {
  width: 30%;
  padding-bottom: 25px;
  -webkit-box-shadow: 1px 2px 20px #352b30;
          box-shadow: 1px 2px 20px #352b30;
}
@media (max-width: 950px) {
  .blog__item {
    width: 42%;
    margin-bottom: 50px;
  }
  .blog__item:first-child {
    margin-right: 40px;
  }
}
@media (max-width: 700px) {
  .blog__item {
    width: 93%;
    margin-bottom: 40px;
  }
  .blog__item:first-child {
    margin-right: 0;
  }
}
.blog__item-img {
  width: 100%;
  margin-bottom: 45px;
}
@media (max-width: 1200px) {
  .blog__item-img {
    margin-bottom: 40px;
  }
}
@media (max-width: 950px) {
  .blog__item-img {
    margin-bottom: 30px;
  }
}
@media (max-width: 700px) {
  .blog__item-img {
    margin-bottom: 25px;
  }
}
.blog__item-title {
  margin-bottom: 25px;
  padding-left: 5px;
  font-size: 20px;
  font-weight: 600;
  color: #000000;
  text-transform: uppercase;
}
@media (max-width: 1200px) {
  .blog__item-title {
    margin-bottom: 20px;
    font-size: 18px;
  }
}
@media (max-width: 950px) {
  .blog__item-title {
    margin-bottom: 15px;
    font-size: 16px;
  }
}
.blog__item-text {
  padding-left: 5px;
  margin-bottom: 30px;
  max-width: 315px;
  color: rgba(49, 48, 45, 0.7);
}
@media (max-width: 1200px) {
  .blog__item-text {
    margin-bottom: 25px;
  }
}
.blog__item-link {
  padding: 5px 10px;
  margin-left: 5px;
  font-weight: 600;
  color: #000000;
  text-transform: uppercase;
  border: 2px solid #ffce76;
}
.blog__item-link:hover {
  background-color: #ffce76;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
@media (max-width: 950px) {
  .blog__item-link {
    padding: 3px 7px;
    font-size: 12px;
  }
}

.footer {
  padding: 60px 0;
  background-color: #181817;
}
@media (max-width: 950px) {
  .footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 700px) {
  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}
@media (max-width: 950px) {
  .footer__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
  }
}
.footer__item {
  width: 30%;
  display: inline-block;
}
@media (max-width: 950px) {
  .footer__item {
    width: 100%;
    margin-bottom: 25px;
  }
}
@media (max-width: 700px) {
  .footer__item {
    width: 100%;
    margin-bottom: 25px;
  }
}
.footer__item-title {
  display: block;
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 600;
  color: #ffce76;
  text-transform: uppercase;
}
@media (max-width: 700px) {
  .footer__item-title {
    font-size: 20px;
  }
}
.footer__link {
  display: block;
  margin-bottom: 7px;
  color: #ffffff;
}
.footer__link:last-child {
  margin-bottom: 0;
}
.footer__link:hover {
  color: #fece76;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.footer__text {
  display: block;
  max-width: 270px;
}
@media (max-width: 700px) {
  .footer__text {
    margin: 0 auto;
  }
}
.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: -15px;
}
@media (max-width: 950px) {
  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 700px) {
  .footer__bottom {
    text-align: center;
    margin-left: 0;
  }
}
.footer__logo {
  margin-bottom: 30px;
}
@media (max-width: 700px) {
  .footer__logo {
    margin: 0 auto 25px;
  }
}
.footer__form {
  margin-bottom: 10px;
}
.footer__form-input {
  height: 40px;
  width: 75%;
  padding-left: 5px;
  color: rgba(255, 255, 255, 0.6);
  background-color: #181817;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-right: 0;
}
.footer__form-btn {
  height: 40px;
  width: 30px;
  margin-left: -5px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-left: 0;
  color: rgba(255, 255, 255, 0.6);
  background-color: #181817;
  z-index: 5;
}
.footer__form-btn:hover {
  color: #fece76;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.decorated-item {
  position: relative;
}
.decorated-item::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 78px;
  left: -15px;
  position: absolute;
  background-color: #fece76;
}
@media (max-width: 700px) {
  .decorated-item::before {
    display: none;
  }
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 60%;
}
@media (max-width: 700px) {
  .social {
    margin: 0 auto;
  }
}
.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.4);
}
.social__link:hover .social__icon {
  color: #fece76;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.social__icon {
  font-size: 16px;
  color: #ffffff;
}

.bold-text {
  display: block;
  margin-bottom: 23px;
  font-size: 30px;
  font-weight: 600;
  color: #ffffff;
}
@media (max-width: 700px) {
  .bold-text {
    font-size: 22px;
  }
}